ul{
color:black;
}
/*Heading Talk */

H1 {text-align:center; color:black; font: normal 150pt "fantasy"}

.twitter{
    
    height : 100px ;
    width  :  450px ;
}


.jumbotron {
    background-image: url('http://i.huffpost.com/gen/813511/images/o-FRIENDSHIP-facebook.jpg');
  height: 510px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 100px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

marquee {
  
  margin-top: 60px;
  font-size: 15px;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}
a:link    {color:black; background-color:transparent; text-decoration:none}


